* {
    background-color: beige; 
}

.index-body{
    width: 300px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-head {
    text-align: center;
    color: darkblue;
    padding:2px;
    border:2px double rgb(233, 132, 0);
    width:100%;
    margin: auto;
    background-color: gray;
    font-style: italic;
    font-weight: bold;
}

.recipe {
    border:2px double rgb(233, 132, 0);
    width: 300px;
    margin: 20px;
    margin-top: 55px; 
}

.nav-btn {
    display: block;
    padding: 8px;
    border: 2px solid saddlebrown;
    background-color: beige;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    color: darkblue;
    font-style:italic
}

.nav-btn:hover {
    background-color: red;
    color: white;
}

.heading {
    text-align: center;
    color: darkred;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0px;
}

.home{
    color: red;
    font-weight: bold;
    font-family: sans-serif;   
       padding:2px;
       border: 1px solid red;
    
      text-align: center;
      margin-left: 700px;
}


 
.capital{
    color: darkred;
    font-weight: bolder;
}
    
.content{
    color:darkred;
    padding:3px;
    border:10px double green;
    margin-bottom:15px;
    width:800px;
    margin:auto;
}
.home:hover {
    background-color:black;
}



